<footer class="footer">
    <div class="footer__redes">
        <h2 class="footer__redes__h2">Redes Sociais</h2>
        <a class="footer__redes__img" href="https://www.facebook.com/FordBrasil/reels/?_rdr" target="_blank">
            <img class="footer__redes__img" src="facebook-50.png" alt="Facebook">
        </a>
        <a class="footer__redes__img" href="https://www.youtube.com/@fordbrasil" target="_blank">
            <img class="footer__redes__img" src="youtube-squared-50.png" alt="YouTube">
        </a>
        <a class="footer__redes__img" href="https://www.instagram.com/fordbrasil/" target="_blank">
            <img class="footer__redes__img" src="instagram-logo-50.png" alt="Instagram">
        </a>
    </div>
    <div class="footer__logo">
        <img class="footer__logo" src="ford-96.png" alt="Ford Logo">
    </div>
</footer>