@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --blue-principal: #00274d;
    --dark-blue: #1B357E;
    --blue: #1351D8;
    --blue-hover: #3573FA;

    --main-font: "Ubuntu", "Sans Serif"
    --gray-dark: #333333;
    --gray-medium: #555555;
    --gray-light: #f5f5f5;
    --white: #ffffff;
}