<button class="menu__button mobile-only" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
</button>

<div class="menu offcanvas offcanvas-start mobile-only" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <img class="w-50" src="ford.png"/>
  </div>
  <div class="menu__links">
    <a class="link" href="/home">Home</a>
    <a class="link" href="/dashboard">Dashboard</a>
    <a class="link" href="/lancamento">Lançamento</a>
    <a class="link" href="/contato">Contato</a>
  </div>
</div>
